<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Connexion</title>
   </head>
   <body>
      <header>
          <a href="Accueil" class="logo"><img alt="logo" src=""></a>
          <div class="rs">
            <a href="https://www.facebook.com/minucia.mg" target="_blank"><img class="img1" alt="fb" src="pictogrammes/elements/facebook.webp"></a>
            <a href="https://www.instagram.com/minucia.mg" target="_blank"><img alt="insta" src="pictogrammes/elements/insta.webp"></a>
          </div>
      </header>
      <section>
        <div class="lien">
          <a href="Accueil">Retour</a>
        </div>
        <div class="row">
          <div class="connexion">
            <img src="">
             <p>Connexion</p>
             <p style="color: red"></p>
             <form class="customform" action="Connexion" method="post">
                <label>E-mail</label>
                <input name="email" title="Your e-mail" type="text" />
                <label>Mot de passe</label>
                <input name="mdp" title="Your password" type="password" />
                <button type="submit">Connexion</button>
             </form>
             <div class="s-12 l-7"><a href=""><h2>ou inscrivez vous!</h2></a></div>
          </div>
        </div>
      </section>
      <img class="footer" src="">

      
  <footer>
    <p>2022 Copyright Tous droits réservés &copy; Minucia</p>
  </footer>
   </body>
</html>