<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Agence de communication Minucia Madagascar</title>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<meta name="keywords" content="HTML, CSS, JavaScript">
  	<meta name="author" content="Hajanirivo Sitraka">
	<link rel="stylesheet" href="../../assets/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="../../assets/js/jquery-3.6.0.js"></script>
</head>
<body>
	<!-- HEADER -->   
	<header>
		
		<div class="menu-toggle"></div>
		<nav>
			<ul>
			  <li><a class="active" href="#Nos_Travaux">Nos-Travaux</a></li>
			  <li class="mid"><a href="#a_propos">A-propos</a></li>
			  <li class="mid" ><a href="#contactez_nous">Contact</a></li>
			  <li class="mid" ><a href="Connexion">Connexion</a></li>
			  <li class="mid" ><a href="Choix">Commande</a></li>
			</ul>
		</nav>
		<div class="row">
			<div class="rs">
				
			</div>
		</div>
		<div class="clearfix"></div>
	</header>



	<!-- BODY -->
	<section>
		<div class="titre">
			<img class="header" alt="header" src="pictogrammes/elements/header.webp">
			<h1 class="titre1">E-KALY</h1>
			<div class="sous-titre">
				<p>client satisfait</p>
			</div>
			<h1 class="we_care">E-KALY</h1>
		</div>
		<center>
			<div class="sep1" id="Nos_Travaux">
				<img alt="separateur" src="pictogrammes/elements/fin.webp">
			</div>
		</center>


		<div class="sous-titre sous-titre1">
			<h2>NOS TRAVAUX</h2>
		</div>
		<div class="Nos_Travaux">
			<div class="image_fond">

			</div>
			<div class="dep dep1">
				<ul>
				  <li><h3 class="com">Communication</h3></li>
				  <li><h3 class="crea">Créa</h3></li>
				  <li><h3 class="festy">Festy</h3></li>
				  <li><h3 class="touch">Touch</h3></li>
				</ul>
				<p>L'agence Minucia accompagne ses clients dans leur stratégie de marketing et de communication. Elle a de fort potentiel en communication corporate, promouvoir l'image en interne et en externe de l’entreprise, relations presse et publiques, campagnes d'influences et digitale. <p>
				<div class="row">
					<img alt="logo" src="pictogrammes/elements/com logo.webp">
					<a href="Communication"><button class="bouton">Voir la page</button></a>
				</div>
			</div>
			<div class="dep dep2">
				<ul>
				  <li><h3 class="com">Communication</h3></li>
				  <li><h3 class="crea">Créa</h3></li>
				  <li><h3 class="festy">Festy</h3></li>
				  <li><h3 class="touch">Touch</h3></li>
				</ul>
				<p>Toujours à l'écoute des clients, Minucia crée leur identité à travers leur histoire, leur culture et leurs valeurs. Création d’une image de marque, conception graphique de tout genre et pour tous les supports (papier, textile,…). </p>
				<div class="row">
					<img alt="logo" src="pictogrammes/elements/crea logo.webp">
					<a href="Crea"><button class="bouton">Voir la page</button></a>
				</div>
			</div>
			<div class="dep dep3">
				<ul>
				  <li><h3 class="com">Communication</h3></li>
				  <li><h3 class="crea">Créa</h3></li>
				  <li><h3 class="festy">Festy</h3></li>
				  <li><h3 class="touch">Touch</h3></li>
				</ul>
				<p>Minucia, un partenaire de succès dans le domaine de l'évènementiel, organise entre autres atelier, soirée, inauguration, mariage... Sonorisation, lumières, effets spéciaux, décorations font partie des prestations. </p>
				<div class="row">
					<img alt="logo" src="pictogrammes/elements/festy logo.webp">
					<a href="Festy"><button class="bouton">Voir la page</button></a>
				</div>
			</div>
			<div class="dep dep4">
				<ul>
				  <li><h3 class="com">Communication</h3></li>
				  <li><h3 class="crea">Créa</h3></li>
				  <li><h3 class="festy">Festy</h3></li>
				  <li><h3 class="touch">Touch</h3></li>
				</ul>
				<p>Le digital est devenu incontournable. Minucia vous aide à explorer le monde numérisé à travers le web design, le développement, la création de site internet, le référencement-SEO, le community management et les contenus web (rédaction, traitement photos...).</p>
				<div class="row">
					<img alt="logo" src="pictogrammes/elements/touch logo.webp">
					<a href="Touch"><button class="bouton">Voir la page</button></a>
				</div>
			</div>
		</div>
		<center>
			<div class="sep" id="a_propos">
				<img alt="separateur" src="pictogrammes/elements/fin.webp">
			</div>
		</center>


		<div class="sous-titre sous-titre2">
			<h2>A PROPOS DE NOUS</h2>
		</div>
		<a href="equipe"><button class="button button1">L'équipe</button></a>
		<a href="RSE"><button class="button">RSE</button></a>
		<div class="a_propos">
			<div class="details">
				<p><s class="teal">Minucia</s>, créée en <s class="chiffre">2019</s>, a démarré ses activités dans l'évènementiel à travers Minucia Festy. Au fil des ans, elle a su développer ses acticités à travers les autres départements notamment Minucia Communication, Minucia Créa et Minucia Touch.
				<br>
				En <s class="chiffre">2020</s>, Minucia a étendu son savoir-faire et devient la représentante du magazine Mémento, le mensuel économique régional de référence depuis de <s class="chiffre">50</s> ans.
				<br>
				Composée d'une équipe expérimentée et rigoureuse. Elle travaille en collaboration avec les grands groupes de Madagascar avec efficacité.
				<br><s class="teal">L'objectif :</s>  Mutualiser les compétences. Simplifier la vie des clients. Proposer une vision globale de la stratégie de communication traditionnelle et digitale.
				<br><s class="teal">Avec un mot d'ordre:</s> le retour sur investissement de ses clients. Ainsi, Minucia s'appuie aujourd'hui sur des compétences variées et un large réseau de partenaires pour répondre aux attentes de ses clients.
				<br><s class="teal">Nous nous soucions toujours de:</s> satisfaire les clients et les accompagner vers l'excellence.
				<br><s class="teal">Notre mission: </s>
				<br><s class="teal">•</s>	Offrir une excellente qualité de service basée sur le sens du détail.
				<br><s class="teal">•</s>	Vous démarquer à travers une communication à forte valeur ajoutée.
				<br><s class="teal">•</s>	Développer une communication responsable.
				<br><s class="teal">•</s>	Valoriser les engagements de la clientèle dans les domaines environnementaux et sociaux.</p>


			</div>
			<div class="image_fond2">
			</div>
		</div>
		<center>
			<div class="sep sep4">
				<img alt="separateur" src="pictogrammes/elements/fin.webp">
			</div>
		</center>

		<div class="sous-titre sous-titre3">
			<h2>Ils nous font confiance</h2>
		</div>
		<div class="half">
			<div class="partenaires">
				<center>
					<img alt="Allianz" src="pictogrammes/elements/P1.webp">
					<img alt="ASK Gras Savoye Maroc" src="pictogrammes/elements/P2.webp">
					<img alt="BGFI Bank" src="pictogrammes/elements/P3.webp">
					<img alt="Bush Proof" src="pictogrammes/elements/P4.webp">
					<img alt="Fondation Merieux" src="pictogrammes/elements/P5.webp">
					<img alt="gasyplast" src="pictogrammes/elements/P6.webp">
					<img alt="Programme d'Appui a l'Emploi et a l'Integration Regionale" src="pictogrammes/elements/P7.webp">
					<img alt="office malgache des hydrocarbures" src="pictogrammes/elements/P8.webp">
					<img alt="OPHAM" src="pictogrammes/elements/P9.webp">
					<img alt="Ouvrage travaux industriels" src="pictogrammes/elements/P10.webp">
					<img alt="Association PATMAD" src="pictogrammes/elements/P11.webp">
					<img alt="SEBTP" src="pictogrammes/elements/P12.webp">
					<img alt="Thomas apiculture" src="pictogrammes/elements/P13.webp">
					<img alt="Societe Malgache de transformation plastique" src="pictogrammes/elements/P14.webp">
					<img alt="Liones" src="pictogrammes/elements/P15.webp">
				</center>
			</div>
			<center>
				<div class="sep sep2">
					<img alt="separateur" src="pictogrammes/elements/fin.webp">
				</div>
			</center>
			<div class="contact">
				
			</div>
			<center>
				<div class="sous-titre sous-titre4" id="contactez_nous">
					<h2>Faites-nous part de vos impressions</h2>
				</div>
			</center>
			<div class="row contact">
				<div class="map">
					<center><img class="image_1" alt="map" src="pictogrammes/elements/map.webp">
						<img class="image_2" src="pictogrammes/elements/Union.webp" >
						<div class="coordonnee">
							<p>minucia@minucia.mg</p>
							<p>+261 34 13 690 30</p>
							<p>II P 136 TER Avaradoha Antananarivo, 101</p>
						</div>
					</center>
					<img class="t1" src="pictogrammes/elements/Trace_1.webp">
					<img class="t2" src="pictogrammes/elements/Trace_2.webp">
					<p class="hesitez">N'hésitez pas</p>
				</div>
				<div class="form">
					<form method="POST" action="Mail">
						  <label>Nous écrire</label>
						  <p>Pour des questions techniques ou commerciales. Nous vous invitons à remplir le formulaire ci-dessous.</p>
						  <div class="form-group col-10">
						    <input type="text" class="form-control" name="nom" placeholder="Entrez votre nom">
						  </div>
						  <div class="form-group col-10">
							<input type="email" class="form-control" name="mail" placeholder="Entrez votre adresse mail">
						  </div>
						  <div class="form-group col-10">
							<input type="text" class="form-control" name="objet" placeholder="Objet">
						  </div>
						  <div class="form-group col-10">
							<textarea class="form-control" name="message" placeholder="Entrez votre message" rows="8"></textarea>
							</div>
						  <button type="submit">Envoyer</button>
					</form>
				</div>
			</div>
			<img class="footer" src="pictogrammes/elements/Plante.webp">
		</div>

	<footer>
		<center><p><s class="chiffre">2022</s> Copyright Tous droits réservés &copy; Hajanirivo Sitraka</p></center>
	</footer>

	<script type="text/javascript">
		/*window.addEventListener("scroll",function(){  
			var header=document.querySelector("header");
			header.classList.toggle("stick", window.scrollY > 0);
		});*/
		$(document).ready(function($){
			$('.com').on({
				'click':function(){
					$('.crea').css({'opacity':'0.5'});
					$('.com').css({'opacity':'1'});
					$('.touch').css({'opacity':'0.5'});
					$('.festy').css({'opacity':'0.5'});
					$('.dep').css({'visibility':'hidden'});
					$('.dep1').css({'visibility':'visible'});
					$('.image_fond').css({'background-image':'url(pictogrammes/elements/image_com.webp)'});
				}
			});
			$('.crea').on({
				'click':function(){
					$('.com').css({'opacity':'0.5'});
					$('.crea').css({'opacity':'1'});
					$('.touch').css({'opacity':'0.5'});
					$('.festy').css({'opacity':'0.5'});
					$('.dep').css({'visibility':'hidden'});
					$('.dep2').css({'visibility':'visible'});
					$('.image_fond').css({'background-image':'url(pictogrammes/elements/image_crea.webp)'});
				}
			});
			$('.touch').on({
				'click':function(){
					$('.com').css({'opacity':'0.5'});
					$('.touch').css({'opacity':'1'});
					$('.crea').css({'opacity':'0.5'});
					$('.festy').css({'opacity':'0.5'});
					$('.dep').css({'visibility':'hidden'});
					$('.dep4').css({'visibility':'visible'});
					$('.image_fond').css({'background-image':'url(pictogrammes/elements/image_touch.webp)'});
				}
			});
			$('.festy').on({
				'click':function(){
					$('.com').css({'opacity':'0.5'});
					$('.festy').css({'opacity':'1'});
					$('.touch').css({'opacity':'0.5'});
					$('.crea').css({'opacity':'0.5'});
					$('.dep').css({'visibility':'hidden'});
					$('.dep3').css({'visibility':'visible'});
					$('.image_fond').css({'background-image':'url(pictogrammes/elements/image_festy.webp)'});
				}
			});
			$('.menu-toggle').click(function(){
				$('.menu-toggle').toggleClass('active');
				$('nav').toggleClass('active');
			});
		});
	</script>
</body>
</html>